# Eclipse specific files
.metadata/
.recommenders/
.settings/
*.tmp

# Build results
/bin/
/target/
out/

# IDE-specific files
.classpath
.project
.idea/
*.iml

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Gradle and Maven
.gradle/
.mvn/
build/
